#register {
  font-size: 40px;
}

.priya {
  color: grey;
  width: 300px;
  align-self: center;
}


input {
  margin-bottom: 10px;
  height: 30px;

  // margin-top: 5px;
}

#submit {
  margin-bottom: 10px;
  font-size: 20px;
  width: 100px;
  height: 40px;
}

label {
  font-size: 20px;
}
